@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Croissant+One&family=Dancing+Script:wght@700&family=Devonshire&family=Kaushan+Script&family=Source+Serif+Pro:wght@600&family=Ultra&display=swap");
@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translate(0.5em);
  }
}
@keyframes headshake {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-4%);
  }
}
* {
  margin: 0 auto;
}

body {
  background-color: white;
  padding-bottom: 2em;
  max-width: 1024px;
  margin: auto;
  position: relative;
  text-decoration: none;
}

header {
  background-color: #579c87;
  width: 100%;
  height: 5em;
  position: relative;
  box-shadow: 0.1em 0.1em 1em grey;
}
header h1 {
  color: #fdcb46;
  text-align: center;
  line-height: 1em;
  font-family: "Ultra", serif;
  font-size: 4em;
  font-weight: bolder;
  text-shadow: 0.1em 0.1em 0.2em black;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
header h1:hover,
header h1 :visited {
  color: #fdcb46;
  transform: scale(1.15);
}
@media all and (max-width: 480px) {
  header h1 {
    font-size: 3em;
    line-height: 1.5em;
  }
}
header a {
  text-decoration: none;
}
header a:visited {
  color: #fdcb46;
}

main {
  padding: 2em;
  text-align: center;
}
@media all and (max-width: 480px) {
  main {
    padding: 1em;
  }
}
main article {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
}
@media all and (max-width: 480px) {
  main article {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 15px;
  }
}

.btn {
  display: block;
  background: #579c87;
  color: #fdcb46;
  width: 25%;
  border: 0;
  border-radius: 15px;
  padding: 0.5em;
  margin-top: 2em;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  justify-content: space-between;
  text-shadow: 0.1em 0.1em 0.2em black;
}
@media all and (max-width: 768px) {
  .btn {
    text-align: center;
    width: 50%;
    margin: 0em 0em 1em 5em;
    font-size: 1em;
  }
}

.btn_soon {
  display: inline;
  margin-right: 0.1em;
}

.loading {
  display: inline;
}

.loading span {
  width: 0.3em;
  height: 0.3em;
  margin-right: 0.2em;
  background-color: #fdcb46;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.loading span:nth-child(2) {
  animation-delay: 0.4s;
}

.loading span:nth-child(3) {
  animation-delay: 0.8s;
}

footer {
  background-color: #579c87;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0em;
  margin: auto;
  max-width: 1024px;
  width: 100%;
  height: 3em;
  box-shadow: 0.1em 0.1em 1em grey;
}
footer a {
  line-height: 0.5em;
  margin: 1.2em;
  color: #fdcb46;
  font-family: "Ultra", serif;
  font-size: 1em;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em black;
}
footer a:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  animation-iteration-count: 3;
}
@media all and (max-width: 768px) {
  footer a {
    font-size: 0.8em;
    line-height: 2em;
  }
}

.menu {
  width: 80%;
  height: 25em;
  padding: 1em;
  margin: 1em;
  box-shadow: 0 0 10px #bbba;
  text-align: center;
}
.menu:hover {
  transform: scale(1.15);
  transition-property: transform;
  transition-duration: 200ms;
}
@media all and (max-width: 480px) {
  .menu {
    height: 25em;
    padding: 0em;
  }
}
.menu a {
  display: block;
  margin: auto;
  padding-top: 4em;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
}
.menu a:hover {
  transform: scale(1.15);
  transition-property: transform;
  transition-duration: 400ms;
}
@media all and (max-width: 480px) {
  .menu a {
    padding-top: 6em;
    font-size: 1.5em;
  }
}

.menu_note {
  box-shadow: 0.1em 0.1em 1em grey;
  background-color: #FCDFDB;
  margin: 2em;
}
.menu_note img {
  padding: 0em;
  margin: 0em;
  transition-property: transform;
  transition-duration: 600ms;
}
.menu_note img:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  animation-iteration-count: 3;
}
@media all and (max-width: 480px) {
  .menu_note img {
    top: 4em;
    left: 4.5em;
  }
}
.menu_note a {
  padding-top: 2.6em;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
@media all and (max-width: 480px) {
  .menu_note a {
    padding-top: 4em;
  }
}
.menu_note h2 {
  font-family: "Devonshire", cursive;
  font-size: 1.2em;
  color: #3c1218;
}
.menu_note h2:visited {
  color: #3c1218;
}
.menu_note h3 {
  font-family: "Caveat", cursive;
  font-size: 2em;
  color: #3c1218;
}

.menu_chic {
  text-align: center;
  margin: 2em;
  box-shadow: 0.1em 0.1em 1em grey;
  background-color: #FFF5FE;
}
.menu_chic a {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.menu_chic h2 {
  font-family: "Croissant One", cursive;
  font-size: 0.8em;
  line-height: 3em;
  background-image: linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.menu_chic h3 {
  font-family: "Source Serif Pro", serif;
  font-size: 1.5em;
  color: #c67412;
}

.menu_delice {
  text-align: center;
  margin: 2em;
  box-shadow: 0.1em 0.1em 1em grey;
  background-color: #F3F3F3;
}
.menu_delice a {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.menu_delice h2 {
  font-family: "Dancing Script", cursive;
  font-size: 1.2em;
  line-height: 2em;
  background-image: linear-gradient(to right, #0a35e0, #0889fb);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.menu_delice h3 {
  font-family: "Caveat", cursive;
  font-size: 2em;
  color: #0889fb;
}

.menu_gout {
  text-align: center;
  margin: 2em;
  box-shadow: 0.1em 0.1em 1em grey;
  background-color: white;
}
.menu_gout a {
  text-shadow: 2px 2px 4px rgba(153, 153, 153, 0.349);
}
.menu_gout h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.2em;
  line-height: 2em;
  background-image: linear-gradient(to right, #4ea043, #beff7f);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.menu_gout h3 {
  font-family: "Caveat", cursive;
  font-size: 2em;
  color: #beff7f;
}

.menu_card1 {
  width: auto;
  height: auto;
  margin: 0 10px 50px 10px;
}
.menu_card1 table {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 1px 1px;
  margin: 0em;
}
.menu_card1 table caption {
  text-align: center;
}
.menu_card1 table .left {
  text-align: left;
}
.menu_card1 h2,
.menu_card1 h3 {
  font-family: "Devonshire", cursive;
  font-size: 1.9rem;
  line-height: 1.9em;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
