@import url("https://fonts.googleapis.com/css2?family=Caveat&family=DM+Serif+Display&family=Dancing+Script:wght@600&family=Kaushan+Script&family=Satisfy&family=Source+Serif+Pro:ital@1&display=swap");
@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translate(0.5em);
  }
}
@keyframes headshake {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-8%);
  }
}
@keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
body {
  background-color: white;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
}
body .menu__restaurant {
  margin: 2em;
}
body .menu__restaurant__liste {
  text-align: center;
  width: auto;
  display: grid;
  padding: 1em;
  margin-bottom: 3em;
  grid-template-columns: repeat(auto-fill, 20em);
  grid-gap: 4em;
  justify-content: space-evenly;
}
body .menu__restaurant__liste__carte {
  width: 80%;
  padding: 1em;
  margin: auto;
  justify-content: center;
  height: 25em;
}
body .menu__restaurant__liste__carte a {
  text-decoration: none;
}
body .menu__restaurant__liste__carte--titre {
  display: block;
  margin-top: 4em;
  text-decoration: none;
  font-size: 2em;
  margin-top: 5em;
}
body .menu__restaurant__liste__carte--titre img {
  display: block;
  position: relative;
  margin: auto;
  width: 2em;
}
body .menu__restaurant__liste__carte--detail {
  font-size: 4em;
  margin-top: 0.6em;
}

body main {
  margin-bottom: 3em;
}
body main .menu {
  display: block;
  justify-content: center;
  margin: 1em;
  padding: 1em;
  box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}
body main .menu__header img {
  display: block;
  width: 6em;
  margin: auto;
  padding-top: 2em;
}
body main .menu__header--titre {
  text-align: center;
  font-size: 4em;
}
body main .menu__plats {
  display: block;
  margin: auto;
  text-align: center;
}
body main .menu__plats__header {
  display: block;
  text-align: center;
  justify-content: space-between;
}
body main .menu__plats__header--titre {
  font-size: 2em;
  width: auto;
}
body main .menu__plats__header img {
  width: 14em;
}
body main .menu__plats__detail {
  justify-content: center;
  list-style-type: none;
  padding-left: 0em;
}
body main .menu__plats__detail__element {
  display: inline;
}
body main .menu__plats__detail__element__nom, body main .menu__plats__detail__element__prix {
  font-size: 1.5em;
  font-weight: 600;
}
body main .menu__carte__footer {
  margin-top: 3em;
  text-align: center;
}
body main .menu__carte__footer img {
  max-width: 3em;
}
body main .menu__carte__footer--titre {
  display: inline;
  font-size: 1.5em;
}

@media (min-width: 1200px) {
  body .menu__site {
    margin-bottom: 4em;
  }
  body .menu__site--logo {
    min-height: 2.5em;
  }
  body .menu__site--logo a {
    font-size: 1.8em;
  }
  body .menu__restaurant {
    width: 80%;
    margin: auto;
  }
  body .menu__restaurant__liste {
    text-align: center;
    width: 25em;
    height: 30em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;
    grid-row-gap: 5em;
    margin: auto;
  }
  body .menu__restaurant__liste__carte {
    padding: 0em;
    width: 24em;
    height: 30em;
  }
  body .menu__restaurant__liste__carte a {
    display: block;
    text-decoration: none;
    transform: scale(1);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 1s, 1s;
  }
  body .menu__restaurant__liste__carte a:hover {
    transform: scale(1.1);
    opacity: 0.55;
  }
  body .menu__restaurant__liste__carte--titre {
    display: block;
    margin-top: 5.5em;
    text-decoration: none;
    font-size: 2.2em;
  }
  body .menu__restaurant__liste__carte--titre img {
    display: block;
    margin: auto;
    padding-bottom: 1em;
    width: 2em;
  }
  body .menu__restaurant__annonce {
    margin-top: 35em;
    max-width: 25%;
  }
  body .menu__footer {
    font-size: 3em;
  }
  body main {
    width: 70%;
    margin: auto;
    padding-bottom: 2em;
  }
  body main .menu {
    padding: 4em;
  }
  body main .menu__header img {
    display: block;
    position: relative;
    top: 2em;
    width: 10em;
  }
  body main .menu__header--titre {
    font-size: 5em;
    margin: 1em 0em 1em 0em;
  }
  body main .menu .menu__plats__header {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  body main .menu .menu__plats__header img {
    display: flex;
    min-width: 16em;
    margin: 0.5em;
  }
  body main .menu .menu__plats__header--titre {
    font-size: 2.2em;
    text-align: center;
  }
  body main .menu .menu__plats__header--titre .titre--underline {
    position: relative;
  }
  body main .menu .menu__plats__header--titre .titre--underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.09em;
    bottom: -0.2em;
    left: 0;
    background-color: #3c1218;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  body main .menu .menu__plats__header--titre .titre--underline:hover::after {
    visibility: visible;
    width: 100%;
  }
  body main .menu .menu__plats__detail {
    display: block;
    justify-content: center;
  }
  body main .menu .menu__plats__detail__element {
    display: block;
    justify-content: center;
    font-size: 1.2em;
  }
  body main .menu .menu__plats__detail__element__nom, body main .menu .menu__plats__detail__element__prix {
    display: inline-block;
    text-align: left;
    width: 80%;
  }
  body main .menu .menu__plats__detail__element__prix {
    display: inline-block;
    text-align: right;
    margin: 0em;
    width: 10%;
  }
  body main .menu--chic .plats--entree .titre--underline::after {
    background-color: #c67412;
  }
  body main .menu--chic .plats--principal .titre--underline::after {
    background-color: #a56799;
  }
  body main .menu--chic .plats--dessert .titre--underline::after {
    background-color: #6e4ccc;
  }
  body main .menu--delice .plats--entree .titre--underline::after {
    background-color: #0a35e0;
  }
  body main .menu--delice .plats--principal .titre--underline::after {
    background-color: #0889fb;
  }
  body main .menu--delice .plats--dessert .titre--underline::after {
    background-color: #3aabf7;
  }
  body main .menu--gout .titre--underline::after {
    background-image: linear-gradient(45deg, #558B2F, #8BC34A, #b9f085c4);
  }
  body main .mention {
    padding: 2em;
    margin-bottom: 2em;
  }
  body main .mention--titre {
    text-align: center;
    font-size: 4em;
  }
  body main .mention__article {
    padding: 2em;
  }
  body main .mention__article__titre {
    font-size: 2em;
    margin: 0em;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  body main .mention__article__para {
    font-size: 1.5em;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  body .menu__site--logo {
    min-height: 2.2em;
  }
  body .menu__site--logo a {
    font-size: 2em;
    line-height: 0.8em;
  }
  body .menu__restaurant {
    width: 100%;
    margin: auto;
    justify-content: center;
    padding-bottom: 3.5em;
  }
  body .menu__restaurant__liste {
    text-align: center;
    width: 25em;
    height: 30em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;
    grid-row-gap: 5em;
    margin: auto;
  }
  body .menu__restaurant__liste__carte {
    padding: 0em;
    width: 24em;
    height: 30em;
    margin: auto;
  }
  body .menu__restaurant__liste__carte--titre {
    display: block;
    margin-top: 5.5em;
    text-decoration: none;
    font-size: 2em;
  }
  body .menu__restaurant__liste__carte--titre img {
    display: block;
    margin: auto;
    padding-bottom: 1em;
    width: 2em;
  }
  body .menu__restaurant__annonce {
    margin-top: 30em;
    max-width: 25%;
  }
  body main {
    width: 90%;
    margin: auto;
  }
  body main .menu__plats__header {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  body main .menu__plats__header img {
    display: flex;
    min-width: 15em;
    margin: 0.5em;
  }
  body main .menu__plats__header--titre {
    font-size: 1.5em;
    text-align: center;
  }
  body main .menu__plats__detail__element {
    display: block;
    text-align: left;
    margin-left: 5em;
  }
  body main .menu__plats__detail__element__nom, body main .menu__plats__detail__element__prix {
    display: inline-block;
    font-size: 1.2em;
    margin: 0.5em;
    text-align: left;
    width: 70%;
  }
  body main .menu__plats__detail__element__prix {
    display: inline-block;
    margin: 0em;
    width: 10%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
  }
  body .menu__site--logo {
    min-height: 2.5em;
  }
  body .menu__site--logo a {
    font-size: 2em;
  }
  body .menu__restaurant {
    margin: 2em;
  }
  body .menu__restaurant__liste {
    text-align: center;
    width: auto;
    display: grid;
    padding: 1em;
    margin-bottom: 3em;
    grid-template-columns: repeat(auto-fill, 19em);
    grid-gap: 4em;
    justify-content: space-evenly;
  }
  body .menu__restaurant__liste__carte {
    width: 80%;
    padding: 1em;
    margin: auto;
    justify-content: center;
    height: 25em;
  }
  body .menu__restaurant__liste__carte a {
    text-decoration: none;
  }
  body .menu__restaurant__liste__carte--titre {
    display: block;
    margin-top: 4em;
    text-decoration: none;
  }
  body .menu__restaurant__liste__carte--titre img {
    display: block;
    margin: auto;
    width: 2em;
  }
  body .menu__restaurant__annonce {
    max-width: 30%;
  }
  body main {
    display: block;
    margin-left: 2em;
    justify-content: center;
  }
  body main .menu {
    width: 88%;
    display: block;
    margin-right: 0em;
  }
  body main .menu__plats__header--titre {
    text-align: center;
  }
  body main .menu__plats__header--titre span {
    font-size: 1.4em;
  }
  body main .menu__plats__header img {
    min-width: 20em;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
  }
  body .menu__site--logo {
    min-height: 2em;
  }
  body .menu__site--logo a {
    font-size: 1.5em;
  }
  body .menu__restaurant {
    margin: 2em;
  }
  body .menu__restaurant__liste {
    text-align: center;
    width: auto;
    display: grid;
    padding: 1em;
    margin-bottom: 3em;
    grid-template-columns: repeat(auto-fill, 16.5em);
    grid-gap: 4em;
    justify-content: space-evenly;
  }
  body .menu__restaurant__liste__carte {
    width: 80%;
    padding: 1em;
    margin: auto;
    justify-content: center;
    height: 25em;
  }
  body .menu__restaurant__liste__carte a {
    text-decoration: none;
  }
  body .menu__restaurant__liste__carte--titre {
    display: block;
    margin-top: 4em;
    text-decoration: none;
  }
  body .menu__restaurant__liste__carte--titre img {
    display: block;
    margin: auto;
    width: 2em;
  }
  body .menu__restaurant__annonce {
    width: 45%;
  }
  body main {
    display: block;
    margin-left: 2em;
    justify-content: center;
  }
  body main .menu {
    width: 88%;
    display: block;
    margin-right: 0em;
  }
  body main .menu__plats__header--titre {
    text-align: center;
  }
  body main .menu__plats__header--titre span {
    font-size: 1.4em;
  }
  body main .menu__plats__header img {
    min-width: 20em;
  }
}
body .menu__restaurant__liste__carte {
  box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}
body .menu__restaurant__liste__carte:nth-child(1) {
  font-family: "Satisfy", cursive;
  background-color: #FCDFDB;
}
body .menu__restaurant__liste__carte:nth-child(1) .menu__restaurant__liste__carte--titre {
  color: #3c1218;
  margin-top: 2em;
}
body .menu__restaurant__liste__carte:nth-child(1) .menu__restaurant__liste__carte--detail {
  color: #3c1218;
}
body .menu__restaurant__liste__carte:nth-child(2) {
  font-family: "alegrya";
  background-color: #FFF5FE;
}
body .menu__restaurant__liste__carte:nth-child(2) .menu__restaurant__liste__carte--titre {
  background: linear-gradient(to right, #E38913 27%, #a56799 48%, #8F5BFE 62%);
  -webkit-background-clip: text;
  color: transparent;
}
body .menu__restaurant__liste__carte:nth-child(2) .menu__restaurant__liste__carte--detail {
  color: #c67412;
}
body .menu__restaurant__liste__carte:nth-child(3) {
  font-family: "Dancing Script", cursive;
  background-color: #F3F3F3;
}
body .menu__restaurant__liste__carte:nth-child(3) .menu__restaurant__liste__carte--titre {
  background: linear-gradient(to right, #0020d8, #0889fb 87%, #3aabf7 94%);
  -webkit-background-clip: text;
  color: transparent;
}
body .menu__restaurant__liste__carte:nth-child(3) .menu__restaurant__liste__carte--detail {
  color: #0a35e0;
}
body .menu__restaurant__liste__carte:nth-child(4) {
  font-family: "Kaushan Script", cursive;
  background-color: white;
}
body .menu__restaurant__liste__carte:nth-child(4) .menu__restaurant__liste__carte--titre {
  background: linear-gradient(to right, #3d923a, #bfff7f 90%, #b9f085c4 97%);
  -webkit-background-clip: text;
  color: transparent;
}
body .menu__restaurant__liste__carte:nth-child(4) .menu__restaurant__liste__carte--detail {
  color: #558B2F;
}

.menu--note {
  background-color: #FCDFDB;
  font-family: "Satisfy", cursive;
  justify-content: space-around;
  color: #3c1218;
  box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  animation-name: text-focus-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.menu--chic {
  background-color: #FFF5FE;
  font-family: "alegrya";
  justify-content: space-around;
  box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  animation-name: text-focus-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.menu--chic .menu__header--titre {
  background: linear-gradient(to right, #E38913 27%, #a56799 48%, #8F5BFE 62%);
  -webkit-background-clip: text;
  color: transparent;
}
.menu--chic .plats--entree {
  color: #c67412;
}
.menu--chic .plats--principal {
  color: #a56799;
}
.menu--chic .plats--dessert {
  color: #6e4ccc;
}

.menu--delice {
  background-color: #F3F3F3;
  font-family: "Dancing Script", cursive;
  justify-content: space-around;
  box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  animation-name: text-focus-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.menu--delice .menu__header--titre {
  background: linear-gradient(to right, #0020d8, #0889fb 87%, #3aabf7 94%);
  -webkit-background-clip: text;
  color: transparent;
}
.menu--delice .menu__plats__detail__element {
  color: black;
}
.menu--delice .plats--entree {
  color: #0a35e0;
}
.menu--delice .plats--principal {
  color: #0889fb;
}
.menu--delice .plats--dessert {
  color: #3aabf7;
}

.menu--gout {
  background-color: white;
  font-family: "Dancing Script", cursive;
  justify-content: space-around;
  box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  animation-name: text-focus-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.menu--gout .menu__header--titre {
  background: linear-gradient(to right, #3d923a, #bfff7f 90%, #b9f085c4 97%);
  -webkit-background-clip: text;
  color: transparent;
}

body {
  margin: auto;
}
body .menu__site {
  background-color: #589a86;
  display: block;
  width: 100%;
}
body .menu__site--logo {
  text-align: center;
  text-decoration: none;
  margin: auto;
  height: 1.5em;
  box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 4em;
  font-family: "roboto", serif;
}
body .menu__site--logo a {
  text-decoration: none;
  color: #FBC02D;
}
body .menu__site--logo a:hover {
  text-decoration: none;
  color: #FBC02D;
}
body .menu__site--logo a:visited {
  text-decoration: none;
  color: #FBC02D;
}
body .menu__footer {
  background-color: #589a86;
  font-family: "roboto", serif;
  font-size: 2.5em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0em;
  margin: auto;
  width: 100%;
}
body .menu__footer a {
  color: #FBC02D;
  text-decoration: none;
}
body .menu__footer a:hover {
  text-decoration: none;
}
body .menu__footer a:visited {
  text-decoration: none;
}
body .menu__footer--mention, body .menu__footer--contact {
  color: #FBC02D;
  margin: 1.2em;
  font-size: 0.5em;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em black;
}
body .menu__footer--mention:hover, body .menu__footer--contact:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  animation-iteration-count: 4;
}
.menu__restaurant {
  padding-bottom: 4em;
}
.menu__restaurant__annonce {
  width: 85%;
  border: 0;
  border-radius: 15px;
  margin: auto;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
  background-color: #589a86;
  font-family: "Source Serif Pro", serif;
  font-size: 1.2em;
  text-shadow: 0.1em 0.1em 0.2em black;
  box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}
.menu__restaurant__annonce--prochainement {
  display: inline;
  color: #FBC02D;
  display: inline;
  padding: 0.5em;
}
.menu__restaurant__annonce--loading {
  padding-top: 0.5em;
  display: inline-block;
}
.menu__restaurant__annonce--loading span {
  width: 0.3em;
  height: 0.3em;
  background-color: #FBC02D;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.menu__restaurant__annonce--loading span:nth-child(2) {
  animation-delay: 0.4s;
}
.menu__restaurant__annonce--loading span:nth-child(3) {
  animation-delay: 0.8s;
}

.menu__accueil {
  font-size: 1.2em;
  text-shadow: 0.1em 0.1em 0.2em black;
  margin: 2em;
}
.menu__accueil a {
  color: #FBC02D;
  font-family: "Source Serif Pro", serif;
  text-decoration: none;
}
.menu__accueil--retour {
  background-color: #589a86;
  display: block;
  width: 6em;
  padding: 0.5em;
  margin: auto;
  text-decoration: none;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}

.mention {
  box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  padding: 1em;
  margin: 1em 1em 4em 1em;
  font-family: "roboto", serif;
}
.mention--titre {
  text-align: center;
  font-size: 3em;
  padding: 1em;
}
.mention__article {
  padding: 0em;
}
.mention__article__titre {
  font-size: 2em;
  margin: 0em;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.mention__article__para {
  font-size: 1.5em;
}

/*# sourceMappingURL=style.css.map */
