@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&family=Parisienne&family=Source+Serif+Pro&display=swap");
@-webkit-keyframes zoom-hover {
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    opacity: 100%;
  }
  75% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 800ms;
            transition-duration: 800ms;
    opacity: 60%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    opacity: 100%;
  }
}
@keyframes zoom-hover {
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    opacity: 100%;
  }
  75% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 800ms;
            transition-duration: 800ms;
    opacity: 60%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    opacity: 100%;
  }
}

@-webkit-keyframes zoom-in-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoom-in-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes dots {
  50% {
    opacity: 0;
    -webkit-transform: scale(0.7) translate(0.5em);
            transform: scale(0.7) translate(0.5em);
  }
}

@keyframes dots {
  50% {
    opacity: 0;
    -webkit-transform: scale(0.7) translate(0.5em);
            transform: scale(0.7) translate(0.5em);
  }
}

@-webkit-keyframes headshake {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}

@keyframes headshake {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}

@-webkit-keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes elastic {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes elastic {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  text-decoration: none;
}

body .menu--logo {
  text-align: center;
  text-decoration: none;
  margin: auto;
  height: 6rem;
}

body .menu__restaurant {
  margin: 4em;
}

body .menu__restaurant__liste {
  text-align: center;
  width: auto;
  display: -ms-grid;
  display: grid;
  padding: 2em;
  margin: 2em;
  -ms-grid-columns: (20em)[auto-fill];
      grid-template-columns: repeat(auto-fill, 20em);
  grid-gap: 4em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .menu__restaurant__liste__carte {
  width: auto;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25rem;
}

body .menu__restaurant__liste__carte a {
  text-decoration: none;
}

body .menu__restaurant__liste__carte img {
  margin: auto;
  position: absolute;
  width: 3em;
  top: 21em;
  left: 17em;
}

body .menu__restaurant__liste__carte--titre {
  margin-top: 6em;
  text-decoration: none;
}

body .menu__restaurant__liste__carte--detail {
  margin-top: 2em;
}

body .menu__restaurant__annonce {
  width: 25%;
  border: 0;
  border-radius: 15px;
  margin: auto;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
}

body .menu__restaurant__annonce--prochainement {
  display: inline;
  padding: 0.5em;
}

body .menu__restaurant__annonce--loading {
  padding-top: 0.5em;
  display: inline-block;
}

body .menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0em;
  margin: auto;
  max-width: 1024px;
  width: 100%;
  height: 3em;
}

body .menu__footer--mention, body .menu__footer--contact {
  line-height: 0.5em;
  margin: 1.2em;
  font-size: 1em;
  font-weight: bolder;
  text-decoration: none;
}

body {
  background-color: white;
  padding-bottom: 2em;
  max-width: 1024px;
  margin: auto;
  position: relative;
  text-decoration: none;
}

body .restaurant {
  padding: 2em;
  margin-bottom: 3em;
}

body .restaurant__carte {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em;
  padding: 2em;
}

body .restaurant__carte__header img {
  display: block;
  width: 4em;
  margin: auto;
  padding-top: 2em;
}

body .restaurant__carte__header--titre {
  text-align: center;
}

body .restaurant__carte__menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .restaurant__carte__menu__header img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

body .restaurant__carte__menu__header--titre {
  text-align: center;
}

body .restaurant__carte__menu__detail {
  display: block;
  padding: 1em;
}

body .restaurant__carte__menu__detail--plat {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 75%;
  padding-left: 2em;
  text-align: left;
}

body .restaurant__carte__menu__detail--prix {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: lighter;
  padding-left: 0.5em;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

body .restaurant__carte__footer {
  display: block;
  padding: 2em;
  margin-bottom: 2em;
}

body .restaurant__carte__footer img {
  display: inline-block;
  width: 3em;
  padding-left: 18em;
  padding-top: 4em;
}

body .restaurant__carte__footer--header {
  display: inline-block;
  margin: auto;
  padding-left: 0.5em;
  text-align: center;
}

body .restaurant__accueil--retour {
  display: block;
  width: 6em;
  padding: 0.5em;
  margin: auto;
  text-decoration: none;
  border-radius: 15px;
  text-align: center;
}

@media all and (max-width: 480px) {
  * {
    margin: 0em;
    text-decoration: none;
  }
  body {
    display: block;
    margin: 0em;
    padding: 0em;
  }
  body .menus__header {
    grid-gap: 0;
    margin: 0em;
    height: 6em;
    padding: 0em;
  }
  body .menus__header__title {
    font-size: 4em;
    text-align: center;
    line-height: 1.5em;
  }
  body .menus__container {
    padding: 0em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0em;
  }
  body .menus__container__list {
    text-align: center;
    grid-gap: 2em;
    padding: 1em;
    margin: 0em;
  }
  body .menus__container__list:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  body .menus__container__list img {
    padding-top: 6em;
  }
  body .menus__container__list h2 {
    padding-top: 0em;
  }
  body .menus__container__list__restaurant {
    width: auto;
    height: 28em;
    margin: 0em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .menus__container__list__restaurant a:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  body .menus__container__list__restaurant--titre h2 {
    padding-top: 2em;
  }
  body .menus__container__list__annonce {
    width: 60%;
    border: 0;
    border-radius: 15px;
    padding: 0.5em;
    margin: 0em 1em 6em 4em;
  }
  body .container__carte {
    display: block;
    padding: 1em;
    margin: auto;
    width: 80%;
  }
  body .container__carte .note__header img {
    width: 4em;
  }
  body .container__carte .note__header--titre {
    font-size: 2.5em;
    padding-top: 0em;
  }
  body .container__carte .note__footer img {
    display: block;
    padding: 0em;
    margin: auto;
  }
  body .container__carte .note__footer--header {
    padding: 0em;
  }
  body .container__carte .chic__header--titre {
    font-size: 1.5em;
    padding-top: 0em;
  }
  body .container__carte__restaurant {
    width: auto;
    padding: 1em;
    margin: 0em;
  }
  body .container__carte__restaurant__header {
    margin: 1em;
  }
  body .container__carte__restaurant__header--titre {
    font-size: 1em;
    width: auto;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  body .container__carte__restaurant__mets {
    margin: 0em;
  }
  body .container__carte__restaurant__mets__header {
    display: block;
  }
  body .container__carte__restaurant__mets__header img {
    display: block;
    margin: auto;
  }
  body .container__carte__restaurant__mets__detail--plats {
    display: block;
    text-align: center;
    padding-left: 1em;
  }
  body .container__carte__restaurant__mets__detail--prix {
    padding: 0em 0em 1em 4em;
  }
  body .container__carte__restaurant__accueil {
    width: 5em;
    left: 50%;
    padding: 2em 0em 2em 0em;
    margin: 0em;
  }
  body .menus__footer {
    margin: 0em;
    height: 3em;
    padding: 0em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .menus__footer__info {
    line-height: 0.5em;
    margin: 1.2em;
    font-size: 1em;
  }
}

body {
  text-decoration: none;
}

body .menu {
  background-color: #589a86;
}

body .menu--logo {
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  font-size: 6rem;
  font-family: "roboto", serif;
  padding-bottom: 2rem;
}

body .menu--logo a {
  text-decoration: none;
  color: #FBC02D;
}

body .menu--logo a:hover {
  text-decoration: none;
  color: #FBC02D;
}

body .menu--logo a:visited {
  text-decoration: none;
  color: #FBC02D;
}

body .menu__restaurant__liste__carte {
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}

body .menu__restaurant__liste__carte:nth-child(1) {
  font-family: "Devonshire", cursive;
  background-color: #FCDFDB;
}

body .menu__restaurant__liste__carte:nth-child(1) h2 {
  position: relative;
  top: -2.5em;
  color: #3c1218;
  font-size: 2.5em;
}

body .menu__restaurant__liste__carte:nth-child(1) p {
  color: #3c1218;
  margin-top: -2em;
  font-size: 2.5em;
}

body .menu__restaurant__liste__carte:nth-child(2) {
  font-family: "Croissant One", cursive;
  background-color: #FFF5FE;
}

body .menu__restaurant__liste__carte:nth-child(2) h2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#c67412), color-stop(#a56799), to(#6e4ccc));
  background-image: linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5em;
}

body .menu__restaurant__liste__carte:nth-child(2) p {
  background-image: -webkit-gradient(linear, left top, right top, from(#c67412), color-stop(#a56799), to(#6e4ccc));
  background-image: linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5em;
  margin-top: 3em;
}

body .menu__restaurant__liste__carte:nth-child(3) {
  font-family: "Dancing Script", cursive;
  background-color: #F3F3F3;
}

body .menu__restaurant__liste__carte:nth-child(3) h2 {
  font-size: 2em;
  margin-top: 4em;
  background-image: -webkit-gradient(linear, left top, right top, from(#0a35e0), color-stop(#0889fb), to(#3aabf7));
  background-image: linear-gradient(to right, #0a35e0, #0889fb, #3aabf7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

body .menu__restaurant__liste__carte:nth-child(3) p {
  font-size: 2em;
  background-image: -webkit-gradient(linear, left top, right top, from(#0a35e0), color-stop(#0889fb), to(#3aabf7));
  background-image: linear-gradient(to right, #0a35e0, #0889fb, #3aabf7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

body .menu__restaurant__liste__carte:nth-child(4) {
  font-family: "Kaushan Script", cursive;
  background-color: white;
}

body .menu__restaurant__liste__carte:nth-child(4) h2 {
  background-image: linear-gradient(45deg, #558B2F, #8BC34A, rgba(118, 238, 6, 0.89));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2em;
  margin-top: 4em;
}

body .menu__restaurant__liste__carte:nth-child(4) p {
  background-image: linear-gradient(45deg, #558B2F, #8BC34A, rgba(118, 238, 6, 0.89));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2em;
  margin-top: 1.5em;
}

body .menu__restaurant__annonce {
  background-color: #589a86;
  text-shadow: 0.1em 0.1em 0.2em black;
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}

body .menu__restaurant__annonce--prochainement {
  display: inline;
  color: #FBC02D;
}

body .menu__restaurant__annonce--loading span {
  width: 0.3em;
  height: 0.3em;
  background-color: #FBC02D;
  margin-top: 1em;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation-name: dots;
          animation-name: dots;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

body .menu__restaurant__annonce--loading span:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

body .menu__restaurant__annonce--loading span:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

body .menu__footer {
  background-color: #589a86;
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  text-decoration: none;
}

body .menu__footer :hover {
  text-decoration: none;
}

body .menu__footer :visited {
  text-decoration: none;
}

body .menu__footer--mention, body .menu__footer--contact {
  color: #FBC02D;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em black;
}

body .menu__footer--contact {
  color: #FBC02D;
}

.container-mention {
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  padding: 2em;
  margin: 3em;
}

.container-mention h2 {
  font-size: 3em;
  font-family: "Source Serif Pro", serif;
  text-align: center;
}

.container-mention .mention--article {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 2em;
  font-family: "Source Serif Pro", serif;
}

.container-mention .mention--article h3 {
  padding: 1em;
}

.container-mention .mention--article-soustitre {
  font-size: 1.5em;
  padding: 1.5em;
}

body .restaurant__carte:nth-child(1) {
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  font-family: "Devonshire", cursive;
  color: #3c1218;
  background-color: #FCDFDB;
}

body .restaurant__carte:nth-child(1) h2 {
  font-size: 3em;
  margin: 0.1em;
}

body .restaurant__carte:nth-child(1) section {
  margin-bottom: 2em;
}

body .restaurant__carte:nth-child(1) a {
  color: #3c1218;
  text-decoration: none;
}

body .restaurant__carte:nth-child(1) a:hover {
  color: #3c1218;
  text-decoration: none;
}

body .restaurant__carte:nth-child(1) a:visited {
  color: #3c1218;
  text-decoration: none;
}

body .restaurant__carte:nth-child(1) h3 {
  font-size: 2em;
  text-decoration: none;
}

body .restaurant__carte:nth-child(1) p {
  font-size: 1.5em;
  margin: 0.2em;
}

body .restaurant__accueil {
  color: #FBC02D;
}

body .restaurant__accueil a {
  text-decoration: none;
}

body .restaurant__accueil a :hover {
  text-decoration: none;
  color: #FBC02D;
}

body .restaurant__accueil a :visited {
  text-decoration: none;
  color: #FBC02D;
}

body .restaurant__accueil--retour {
  color: #FBC02D;
  font-family: "Source Serif Pro", serif;
  height: 1.5em;
  background-color: #589a86;
  line-height: 1.5em;
  font-size: 1.2em;
  border: 0.01em solid #333;
  letter-spacing: 0.1em;
  position: relative;
  -webkit-transition: all .35s;
  transition: all .35s;
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}
/*# sourceMappingURL=main.css.map */