@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&family=Parisienne&family=Source+Serif+Pro&display=swap");
@-webkit-keyframes dots {
  50% {
    opacity: 0;
    -webkit-transform: scale(0.7) translate(0.5em);
            transform: scale(0.7) translate(0.5em);
  }
}
@keyframes dots {
  50% {
    opacity: 0;
    -webkit-transform: scale(0.7) translate(0.5em);
            transform: scale(0.7) translate(0.5em);
  }
}

@-webkit-keyframes headshake {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}

@keyframes headshake {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}

@-webkit-keyframes zoom-hover {
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    opacity: 100%;
  }
  75% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 800ms;
            transition-duration: 800ms;
    opacity: 60%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    opacity: 100%;
  }
}

@keyframes zoom-hover {
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    opacity: 100%;
  }
  75% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 800ms;
            transition-duration: 800ms;
    opacity: 60%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    opacity: 100%;
  }
}

@-webkit-keyframes zoom-in-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoom-in-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animationFrames {
  0% {
    -webkit-transform: translate(-2px, -51px);
            transform: translate(-2px, -51px);
  }
  100% {
    -webkit-transform: translate(-55px, -48px);
            transform: translate(-55px, -48px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(-2px, -51px);
  }
  100% {
    -webkit-transform: translate(-55px, -48px);
  }
}

@-webkit-keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes elastic {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes elastic {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8;
  }
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8;
  }
}

.btn_return a {
  color: #FBC02D;
  text-decoration: none;
}

.btn_return a .btn_return a:visited {
  color: #FBC02D;
  text-decoration: none;
}

.btn_return a .btn_return a:hover {
  color: #FBC02D;
  text-decoration: none;
}

* {
  margin: 0em;
  text-decoration: none;
}

body {
  background-color: white;
  padding-bottom: 2em;
  max-width: 1024px;
  margin: auto;
  position: relative;
  text-decoration: none;
}

body .menus__header {
  width: auto;
  height: 8em;
  position: relative;
  padding: 1em;
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}

body .menus__header__title {
  text-align: center;
  line-height: 0.8em;
  text-shadow: 0.1em 0.1em 0.2em black;
}

body .menus__container {
  display: block;
  padding: 4em;
  margin: auto;
}

body .menus__container__list {
  text-align: center;
  width: auto;
  display: -ms-grid;
  display: grid;
  padding: 2em;
  margin: 2em;
  -ms-grid-columns: (20em)[auto-fill];
      grid-template-columns: repeat(auto-fill, 20em);
  grid-gap: 8em;
}

body .menus__container__list a {
  text-decoration: none;
}

body .menus__container__list__restaurant {
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  display: block;
  width: auto;
  height: 28em;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .menus__container__list__restaurant img {
  position: absolute;
  display: block;
  padding: 4em 0em 0em 7em;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .menus__container__list__restaurant__titre {
  margin-top: 3.3em;
}

body .menus__container__list__restaurant__carte {
  margin-top: 1.3em;
}

body .menus__container__list__annonce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 23%;
  border: 0;
  border-radius: 15px;
  padding: 0.5em;
  margin: auto;
  text-align: center;
  cursor: pointer;
  text-shadow: 0.1em 0.1em 0.2em black;
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}

body .menus__container__list__annonce__prochainement {
  display: inline;
  padding-right: 0.5em;
}

body .menus__container__list__annonce__prochainement__loading {
  padding-top: 0.5em;
  display: inline-block;
}

body .menus__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0em;
  margin: auto;
  max-width: 1024px;
  width: 100%;
  height: 3em;
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}

body .menus__footer a {
  text-decoration: none;
}

body .menus__footer a :hover {
  text-decoration: none;
}

body .menus__footer a :visited {
  text-decoration: none;
}

body .menus__footer__info {
  line-height: 0.5em;
  margin: 1.2em;
  font-size: 1em;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.btn_return a {
  color: #FBC02D;
  text-decoration: none;
}

.btn_return a .btn_return a:visited {
  color: #FBC02D;
  text-decoration: none;
}

.btn_return a .btn_return a:hover {
  color: #FBC02D;
  text-decoration: none;
}

* {
  margin: 0em;
  text-decoration: none;
}

body {
  background-color: white;
  padding-bottom: 2em;
  max-width: 1024px;
  margin: auto;
  position: relative;
  text-decoration: none;
}

body .container__carte {
  padding: 2em;
  margin-bottom: 3em;
}

body .container__carte__restaurant {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em;
  padding: 2em;
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}

body .container__carte__restaurant__header {
  margin-top: 4em;
}

body .container__carte__restaurant__header img {
  display: block;
  margin: auto;
  width: 4em;
}

body .container__carte__restaurant__header--titre {
  display: block;
  text-align: center;
  margin: 0em 1em 1em 1em;
}

body .container__carte__restaurant__mets {
  display: block;
  width: auto;
  margin-bottom: 4em;
}

body .container__carte__restaurant__mets__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1em;
}

body .container__carte__restaurant__mets__header img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: auto;
  padding: 1em 0em 2em 0em;
}

body .container__carte__restaurant__mets--plats {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 70%;
  margin-left: 4em;
}

body .container__carte__restaurant__mets--prix {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 5%;
  font-weight: bold;
}

body .container__carte__restaurant__Footer {
  display: block;
  padding: 2em;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
}

body .container__carte__restaurant__Footer img {
  position: relative;
  left: 18em;
  top: 3em;
}

body .container__carte__restaurant__Footer a {
  display: block;
  margin: auto;
  padding-left: 8em;
  text-align: center;
  width: 11em;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation: none;
          animation: none;
}

body .container__carte__restaurant__Footer a :hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

body .container__carte__restaurant__Footer a :visited {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

body .container__carte__restaurant__Footer a h3 {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

body .container__carte__restaurant__Footer a h3 :hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

body .container__carte__restaurant__Footer a h3 :visited {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

body .container__carte__restaurant__accueil {
  background-color: #589a86;
  color: #FBC02D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  border: 0;
  border-radius: 15px;
  padding: 0.5em;
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  text-shadow: 0.1em 0.1em 0.2em black;
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}

body .container__carte__restaurant__accueil--return a {
  color: #FBC02D;
  text-decoration: none;
}

body .container__carte__restaurant__accueil--return a :hover {
  text-decoration: none;
}

body .container__carte__restaurant__accueil--return a :visited {
  text-decoration: none;
}

.btn_return a {
  color: #FBC02D;
  text-decoration: none;
}

.btn_return a .btn_return a:visited {
  color: #FBC02D;
  text-decoration: none;
}

.btn_return a .btn_return a:hover {
  color: #FBC02D;
  text-decoration: none;
}

.menus__header {
  background-color: #589a86;
}

.menus__header__title {
  font-family: "roboto", serif;
  font-size: 8em;
  color: #FBC02D;
  text-decoration: none;
}

.menus__header__title a {
  text-decoration: none;
}

.menus__header__title a:hover {
  text-decoration: none;
}

.menus__header__title a:visited {
  text-decoration: none;
  color: #FBC02D;
}

.menus__container__list a :hover {
  text-decoration: none;
  -webkit-animation: zoom-in-out 1s linear 0s 1 normal;
  animation: zoom-in-out 1s linear 0s 1 normal;
  opacity: 60%;
}

.menus__container__list a :visited {
  text-decoration: none;
  -webkit-animation: zoom-in-out 1s linear 0s 1 normal;
  animation: zoom-in-out 1s linear 0s 1 normal;
  opacity: 60%;
}

.menus__container__list__restaurant img {
  width: 4em;
}

.menus__container__list__restaurant__titre {
  text-shadow: 2px 2px 4px rgba(153, 153, 153, 0.349);
}

.menus__container__list__restaurant__carte {
  font-size: 3em;
}

.menus__container__list .restaurant__note {
  grid-area: a;
  background-color: #FCDFDB;
  color: #3c1218;
}

.menus__container__list .restaurant__note h2 {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  color: #3c1218;
  font-size: 2.5em;
  font-family: "Devonshire", cursive;
}

.menus__container__list .restaurant__note p {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

.menus__container__list .restaurant__chic {
  grid-area: ab;
  background-color: #FFF5FE;
}

.menus__container__list .restaurant__chic h2 {
  -webkit-animation: none;
          animation: none;
  margin-top: 6em;
  background-image: -webkit-gradient(linear, left top, right top, from(#c67412), color-stop(#a56799), to(#6e4ccc));
  background-image: linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5em;
  font-family: "Croissant One", cursive;
}

.menus__container__list .restaurant__chic p {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  color: #c67412;
  margin-top: 1.5em;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  text-decoration: none;
}

.menus__container__list .restaurant__delice {
  grid-area: c;
  background-color: #FFF5FE;
}

.menus__container__list .restaurant__delice h2 {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  margin-top: 6em;
  background-image: -webkit-gradient(linear, left top, right top, from(#0a35e0), color-stop(#0889fb), to(#3aabf7));
  background-image: linear-gradient(to right, #0a35e0, #0889fb, #3aabf7);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5em;
  font-family: "Croissant One", cursive;
}

.menus__container__list .restaurant__delice p {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  color: #0889fb;
  margin-top: 1em;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

.menus__container__list .restaurant__gout {
  background-color: #FFF5FE;
  background-image: linear-gradient(45deg, #558B2F, #8BC34A);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  grid-area: d;
}

.menus__container__list .restaurant__gout h2 {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  background-image: linear-gradient(45deg, #558B2F, #8BC34A);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 6em;
  font-size: 1.5em;
  font-family: "Croissant One", cursive;
}

.menus__container__list .restaurant__gout p {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  background-image: linear-gradient(45deg, #558B2F, #8BC34A);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 1em;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

.menus__container__list__bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  border: 0;
  border-radius: 15px;
  padding: 0.5em;
  margin: 2em 14em 1em 14em;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  text-shadow: 0.1em 0.1em 0.2em black;
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}

.menus__container__list__bouton__prochainement {
  display: inline;
  margin-right: 0.5em;
}

.menus__container__list__bouton__prochainement__loading {
  display: inline-block;
}

.menus__container__list__annonce {
  background-color: #589a86;
}

.menus__container__list__annonce__prochainement {
  color: #FBC02D;
  font-size: 1.5em;
}

.menus__container__list__annonce__prochainement__loading span {
  width: 0.3em;
  height: 0.3em;
  background-color: #FBC02D;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation-name: dots;
          animation-name: dots;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.menus__container__list__annonce__prochainement__loading span:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menus__container__list__annonce__prochainement__loading span:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.menus__footer {
  background-color: #589a86;
}

.menus__footer a:hover {
  color: #FBC02D;
  -webkit-animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
          animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

.menus__footer__info {
  color: #FBC02D;
  -webkit-animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
          animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

.container-mention {
  -webkit-box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
          box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
  padding: 2em;
  margin: 3em;
}

.container-mention h2 {
  font-size: 3em;
  font-family: "Source Serif Pro", serif;
  text-align: center;
}

.container-mention .mention--article {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 2em;
  font-family: "Source Serif Pro", serif;
}

.container-mention .mention--article h3 {
  padding: 1em;
}

.container-mention .mention--article-soustitre {
  font-size: 1.5em;
  padding: 1.5em;
}

.container__carte .note {
  font-family: "Devonshire", cursive;
  background-color: #FCDFDB;
  -webkit-animation-name: text-focus-in;
          animation-name: text-focus-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.container__carte .note h2 {
  font-size: 3em;
  color: #3c1218;
}

.container__carte .note h3 {
  font-size: 2em;
}

.container__carte .note a {
  color: #3c1218;
}

.container__carte .note a :hover {
  color: #3c1218;
  border-bottom: solid 0.07em;
  text-shadow: 2px 2px 4px rgba(153, 153, 153, 0.349);
  -webkit-animation: couleur, progress-bar 1000ms;
          animation: couleur, progress-bar 1000ms;
}

.container__carte .note a :visited {
  color: #3c1218;
}

.container__carte .note p {
  font-size: 1.5em;
}

.container__carte .chic {
  font-family: "Croissant One", cursive;
  background-color: #FFF5FE;
  text-shadow: 2px 2px 4px rgba(153, 153, 153, 0.349);
  -webkit-animation-name: text-focus-in;
          animation-name: text-focus-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.container__carte .chic h2 {
  font-size: 3em;
  background-image: -webkit-gradient(linear, left top, right top, from(#c67412), color-stop(#a56799), to(#6e4ccc));
  background-image: linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container__carte .chic h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
  padding-top: 0.2em;
  color: #c67412;
}

.container__carte .chic .parme h3 {
  color: #a56799;
}

.container__carte .chic .parme h3 :hover {
  -webkit-animation: gradient 4s linear infinite;
          animation: gradient 4s linear infinite;
  background: -webkit-gradient(linear, left top, right top, from(#c67412), color-stop(10%, #a56799), color-stop(20%, #6e4ccc), color-stop(30%, #c67412), color-stop(40%, #a56799), color-stop(50%, #6e4ccc), color-stop(60%, #c67412), color-stop(70%, #a56799), color-stop(80%, #6e4ccc), color-stop(90%, #c67412), to(#a56799));
  background: linear-gradient(90deg, #c67412 0%, #a56799 10%, #6e4ccc 20%, #c67412 30%, #a56799 40%, #6e4ccc 50%, #c67412 60%, #a56799 70%, #6e4ccc 80%, #c67412 90%, #a56799 100%);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container__carte .chic .parme h3 :visited {
  -webkit-animation: gradient 4s linear infinite;
          animation: gradient 4s linear infinite;
  background: -webkit-gradient(linear, left top, right top, from(#c67412), color-stop(10%, #a56799), color-stop(20%, #6e4ccc), color-stop(30%, #c67412), color-stop(40%, #a56799), color-stop(50%, #6e4ccc), color-stop(60%, #c67412), color-stop(70%, #a56799), color-stop(80%, #6e4ccc), color-stop(90%, #c67412), to(#a56799));
  background: linear-gradient(90deg, #c67412 0%, #a56799 10%, #6e4ccc 20%, #c67412 30%, #a56799 40%, #6e4ccc 50%, #c67412 60%, #a56799 70%, #6e4ccc 80%, #c67412 90%, #a56799 100%);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container__carte .chic .violet h3 {
  color: #6e4ccc;
}

.container__carte .chic .violet h3 :hover {
  -webkit-animation: gradient 4s linear infinite;
          animation: gradient 4s linear infinite;
  background: -webkit-gradient(linear, left top, right top, from(#c67412), color-stop(10%, #a56799), color-stop(20%, #6e4ccc), color-stop(30%, #c67412), color-stop(40%, #a56799), color-stop(50%, #6e4ccc), color-stop(60%, #c67412), color-stop(70%, #a56799), color-stop(80%, #6e4ccc), color-stop(90%, #c67412), to(#a56799));
  background: linear-gradient(90deg, #c67412 0%, #a56799 10%, #6e4ccc 20%, #c67412 30%, #a56799 40%, #6e4ccc 50%, #c67412 60%, #a56799 70%, #6e4ccc 80%, #c67412 90%, #a56799 100%);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container__carte .chic .violet h3 :visited {
  -webkit-animation: gradient 4s linear infinite;
          animation: gradient 4s linear infinite;
  background: -webkit-gradient(linear, left top, right top, from(#c67412), color-stop(10%, #a56799), color-stop(20%, #6e4ccc), color-stop(30%, #c67412), color-stop(40%, #a56799), color-stop(50%, #6e4ccc), color-stop(60%, #c67412), color-stop(70%, #a56799), color-stop(80%, #6e4ccc), color-stop(90%, #c67412), to(#a56799));
  background: linear-gradient(90deg, #c67412 0%, #a56799 10%, #6e4ccc 20%, #c67412 30%, #a56799 40%, #6e4ccc 50%, #c67412 60%, #a56799 70%, #6e4ccc 80%, #c67412 90%, #a56799 100%);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container__carte .chic a {
  color: #c67412;
}

.container__carte .chic a :hover {
  color: #c67412;
  -webkit-animation: gradient 4s linear infinite;
          animation: gradient 4s linear infinite;
  background: -webkit-gradient(linear, left top, right top, from(#c67412), color-stop(10%, #a56799), color-stop(20%, #6e4ccc), color-stop(30%, #c67412), color-stop(40%, #a56799), color-stop(50%, #6e4ccc), color-stop(60%, #c67412), color-stop(70%, #a56799), color-stop(80%, #6e4ccc), color-stop(90%, #c67412), to(#a56799));
  background: linear-gradient(90deg, #c67412 0%, #a56799 10%, #6e4ccc 20%, #c67412 30%, #a56799 40%, #6e4ccc 50%, #c67412 60%, #a56799 70%, #6e4ccc 80%, #c67412 90%, #a56799 100%);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container__carte .chic a :visited {
  color: #c67412;
  -webkit-animation: gradient 4s linear infinite;
          animation: gradient 4s linear infinite;
  background: -webkit-gradient(linear, left top, right top, from(#c67412), color-stop(10%, #a56799), color-stop(20%, #6e4ccc), color-stop(30%, #c67412), color-stop(40%, #a56799), color-stop(50%, #6e4ccc), color-stop(60%, #c67412), color-stop(70%, #a56799), color-stop(80%, #6e4ccc), color-stop(90%, #c67412), to(#a56799));
  background: linear-gradient(90deg, #c67412 0%, #a56799 10%, #6e4ccc 20%, #c67412 30%, #a56799 40%, #6e4ccc 50%, #c67412 60%, #a56799 70%, #6e4ccc 80%, #c67412 90%, #a56799 100%);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container__carte .chic p {
  font-size: 1em;
  color: #c67412;
}

.container__carte .chic .parme {
  color: #a56799;
}

.container__carte .chic .violet {
  color: #6e4ccc;
}

.container__carte .delice {
  font-family: "Dancing Script", cursive;
  background-color: #F3F3F3;
  text-shadow: 2px 2px 4px rgba(153, 153, 153, 0.349);
  -webkit-animation-name: text-focus-in;
          animation-name: text-focus-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.container__carte .delice h2 {
  font-size: 4em;
  background-image: -webkit-gradient(linear, left top, right top, from(#0a35e0), color-stop(#0889fb), to(white));
  background-image: linear-gradient(to right, #0a35e0, #0889fb, white);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container__carte .delice h3 {
  font-size: 2em;
  margin-bottom: 1em;
}

.container__carte .delice a {
  color: black;
}

.container__carte .delice a :hover {
  color: black;
  -webkit-animation-name: elastic;
          animation-name: elastic;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.container__carte .delice a :visited {
  color: black;
}

.container__carte .delice p {
  font-size: 1.4em;
  color: black;
}

.container__carte .delice .parme {
  color: black;
}

.container__carte .delice .violet {
  color: black;
}

.container__carte .gout {
  font-family: "Caveat", cursive;
  background-color: white;
  text-shadow: 2px 2px 4px rgba(153, 153, 153, 0.349);
  -webkit-animation-name: text-focus-in;
          animation-name: text-focus-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.container__carte .gout h2 {
  font-size: 4em;
  background-image: -webkit-gradient(linear, left top, right top, from(#558B2F), color-stop(#8BC34A), to(rgba(118, 238, 6, 0.89)));
  background-image: linear-gradient(to right, #558B2F, #8BC34A, rgba(118, 238, 6, 0.89));
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container__carte .gout h3 {
  font-size: 2em;
  margin-bottom: 1em;
}

.container__carte .gout a {
  color: black;
}

.container__carte .gout a :hover {
  color: black;
  -webkit-animation: blur .5s ease-out;
          animation: blur .5s ease-out;
  text-shadow: 0px 0px 3px #fff, 0px 0px 5px #fff;
}

.container__carte .gout a :visited {
  color: black;
  -webkit-animation: blur .5s ease-out;
          animation: blur .5s ease-out;
  text-shadow: 0px 0px 3px #fff, 0px 0px 5px #fff;
}

.container__carte .gout p {
  font-size: 1.4em;
  color: black;
}

.container__carte .gout .parme {
  color: black;
}

.container__carte .gout .violet {
  color: black;
}
/*# sourceMappingURL=main.css.map */