$breakpoints: ('Small': 480px,
    'Medium': 768px,
    'large': 1024px,
);


$breakpoints: ('Small': 480px,
    'Medium': 768px,
    'large': 1024px,
);




@media all and (max-width: map-get($breakpoints, Small)) {

    * {
        margin: 0em;
        text-decoration: none;
    }

    body {
        display: block;
        margin: 0em;
        padding: 0em;


        // Cadre index.html
        .menus__header {
            grid-gap: 0;
            margin: 0em;
            height: 6em;
            padding: 0em;

            &__title {
                font-size: 4em;
                text-align: center;
                line-height: 1.5em;
            }
        }

        .menus__container {
            padding: 0em;
            width: max-content;
            margin: 0em;


            &__list {
                text-align: center;
                grid-gap: 2em;
                padding: 1em;
                margin: 0em;

                &:hover {
                    animation-play-state: paused;
                }

                img {
                    padding-top: 6em;
                }

                h2 {
                    padding-top: 0em;
                }

                &__restaurant {
                    width: auto;
                    height: 28em;
                    margin: 0em;
                    justify-content: center;

                    a:hover {
                        animation-play-state: paused;
                    }

                    &--titre {
                        h2 {
                            padding-top: 2em;
                        }
                    }

                }

            }


            &__list__annonce {
                width: 60%;
                border: 0;
                border-radius: 15px;
                padding: 0.5em;
                margin: 0em 1em 6em 4em;

            }
        }


        // pages des menus note enchantée , chic à la française , la palette du gout et le delice des papilles

        .container__carte {
            display: block;
            padding: 1em;
            margin: auto;
            width: 80%;


            .note__header {
                img {
                    width: 4em;
                }
            }

            .note__header--titre {
                font-size: 2.5em;
                padding-top: 0em;
            }

            .note__footer {
                img {
                    display: block;
                    padding: 0em;
                    margin: auto;
                }

                &--header {
                    padding: 0em;
                }
            }

            .chic__header--titre {
                font-size: 1.5em;
                padding-top: 0em;
            }

            &__restaurant {
                width: auto;
                padding: 1em;
                margin: 0em;

                &__header {
                    margin: 1em;

                    &--titre {
                        font-size: 1em;
                        width: auto;
                        animation-play-state: paused;
                    }
                }

                &__mets {
                    margin: 0em;

                    &__header {
                        display: block;

                        img {
                            display: block;
                            margin: auto;
                        }
                    }

                    &__detail {

                        &--plats {
                            display: block;
                            text-align: center;
                            padding-left: 1em;
                        }

                        &--prix {
                            padding: 0em 0em 1em 4em;
                        }
                    }
                }

                &__accueil {
                    width: 5em;
                    left: 50%;
                    padding: 2em 0em 2em 0em;
                    margin: 0em;
                }
            }
        }

        .menus__footer {

            margin: 0em;
            height: 3em;
            padding: 0em;
            justify-content: space-around;

            &__info {
                line-height: 0.5em;
                margin: 1.2em;
                font-size: 1em;
            }
        }
    }
}