// Template de chaque restaurant largeur smartphone

body {

    main {

        .menu {
            display: block;
            justify-content: center;
            margin: 1em;
            padding: 1em;
            @include box-shadow;

            &__header {
                img {
                    display: block;
                    width: 6em;
                    margin: auto;
                    padding-top: 2em;
                }

                &--titre {
                    text-align: center;
                    font-size: 4em;
                }
            }

            &__plats {
                display: block;
                margin: auto;
                text-align: center;

                &__header {
                    display: block;
                    text-align: center;
                    justify-content: space-between;

                    &--titre {
                        font-size: 2em;
                        width: auto;
                    }

                    img {
                        width: 14em;
                    }
                }

                &__detail {
                    justify-content: center;
                    list-style-type: none;
                    padding-left: 0em;

                    &__element {
                        display: inline;

                        &__nom {
                            font-size: 1.5em;
                            font-weight: 600;
                        }

                        &__prix {
                            @extend .menu__plats__detail__element__nom;
                        }
                    }
                }
            }

            &__carte {
                &__footer {
                    margin-top: 3em;
                    text-align: center;

                    img {
                        max-width: 3em;
                    }

                    &--titre {
                        display: inline;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}