// Gabarit des pages de chaque restaurant
body {
    background-color: $bodybackground;
    padding-bottom: 2em;
    max-width: 1024px;
    margin: auto;
    position: relative;
    text-decoration: none;
    .restaurant {
        padding: 2em;
        margin-bottom: 3em;
        &__carte {
            display: block;
            justify-content: center;
            margin: 3em;
            padding: 2em;
            &__header {
                img {
                    display: block;
                    width: 4em;
                    margin: auto;
                    padding-top: 2em;
                }
                &--titre {
                    text-align: center;
                }
            }
            &__menu {
                &__header {
                    display: flex;
                    justify-content: space-between;
                    img {
                        display: flex;
                        width: auto;
                    }
                    &--titre {
                        text-align: center;
                    }
                }
                &__detail {
                    display: block;
                    padding: 1em;
                    &--plat {
                        display: inline-flex;
                        width: 75%;
                        padding-left: 2em;
                        text-align: left;
                    }
                    &--prix {
                        display: inline-flex;
                        font-weight: lighter;
                        padding-left: 0.5em;
                        justify-content: right
                    }
                }
            }
            &__footer {
                display: block;
                padding: 2em;
                margin-bottom: 2em;
                img {
                    display: inline-block;
                    width: 3em;
                    padding-left: 18em;
                    padding-top: 4em;
                }
                &--header {
                    display: inline-block;
                    margin: auto;
                    padding-left: 0.5em;
                    text-align: center;
                }
            }
        }
        &__accueil {
            &--retour {
                display: block;
                width: 6em;
                padding: 0.5em;
                margin: auto;
                text-decoration: none;
                border-radius: 15px;
                text-align: center;
            }
        }
    }
}