body {


    ul {
        list-style-type: none;
        padding-inline-start: 0px;
    }

    main {
        padding: 1em;
        margin-bottom: 3em;

        .menu {
            display: block;
            justify-content: center;
            margin: 1em;
            padding: 2em;
            @include box-shadow;

            &__header {
                img {
                    display: block;
                    width: 6em;
                    margin: auto;
                    padding-top: 2em;
                }

                &--titre {
                    text-align: center;
                }
            }

            &__plat {
                display: block;
                margin: auto;
                text-align: center;

                &__header {
                    display: block;
                    text-align: center;
                    justify-content: space-between;
                }

                &__detail {
                    justify-content: center;

                    &--plat {
                        text-align: center;
                    }

                    &--prix {
                        text-align: center;
                    }
                }
            }

            &__carte {
                &__footer {
                    margin-top: 3em;
                    text-align: center;

                    img {
                        max-width: 3em;
                    }

                    &--titre {
                        display: inline;
                    }
                }
            }
        }
    }
}