@import "breakpoints";

* {
    margin: 0 auto;

}

body {
    background-color: $bodybackground;
    padding-bottom: 2em;
    max-width: 1024px;
    margin: auto;
    position: relative;
    text-decoration: none;
}

// header

header {
    background-color: $main-background;
    width: 100%;
    height: 5em;
    position: relative;
    @include box-shadow;


    h1 {
        color: $main-text;
        text-align: center;
        line-height: 1em;
        font-family: $font1;
        font-size: 4em;
        font-weight: bolder;
        @include text-shadow1;
        @include zoomtitle;

        &:hover,
        :visited {
            color: $main-text;
            @include zoomtitlehover;

        }

        @include mobileS-only {
            font-size: 3em;
            line-height: 1.5em;
        }

    }

    a {
        text-decoration: none;

        &:visited {
            color: $main-text;
        }
    }
}

// main

main {
    padding: 2em;
    text-align: center;

    @include mobileS-only {
        padding: 1em;
    }

    article {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 20px;


        @include mobileS-only {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, auto);
            grid-gap: 15px;
        }
    }

}




.btn {
    display: block;
    background: $main-background;
    color: $main-text;
    width: 25%;
    border: 0;
    border-radius: 15px;
    padding: 0.5em;
    margin-top: 2em;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    justify-content: space-between;
    @include text-shadow1;



    @include mobile-only {
        text-align: center;
        width: 50%;
        margin: 0em 0em 1em 5em;
        font-size: 1em;
    }

}

.btn_soon {
    display: inline;
    margin-right: 0.1em;

}

.loading {
    display: inline;

}

.loading span {
    width: 0.3em;
    height: 0.3em;
    margin-right: 0.2em;
    background-color: $main-text;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    @include text-shadow1;
}

.loading span:nth-child(2) {
    animation-delay: 0.4s;
}

.loading span:nth-child(3) {
    animation-delay: 0.8s;
}



footer {
    background-color: $main-background;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0em;
    margin: auto;
    max-width: 1024px;
    width: 100%;
    height: 3em;
    @include box-shadow;




    a {
        line-height: 0.5em;
        margin: 1.2em;
        color: $main-text;
        font-family: $font1;
        font-size: 1em;
        font-weight: bolder;
        text-decoration: none;
        @include text-shadow1;

        &:hover {
            @include headshake;
        }

        @include mobile-only {
            font-size: 0.8em;
            line-height: 2em;
        }
    }


}