// Feuille de style de la mise en page des menus


@import "breakpoints";


body {
    background-color: $bodybackground;
    padding-bottom: 2em;
    max-width: 1024px;
    margin: auto;
    position: relative;
    text-decoration: none;


    // cadre des menus
    .container__carte {
        padding: 2em;
        margin-bottom: 3em;

        &__restaurant {
            display: block;
            justify-content: center;
            margin: 3em;
            padding: 2em;
            @include box-shadow;

            &__header {
                margin: 4em;



                &--titre {
                    display: block;
                    text-align: center;
                }

            }

            &__mets {
                display: block;
                margin: 2em;
                justify-content: center;

                &__header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1em;
                    text-align: center;

                    img {
                        display: flex;
                        width: 15em;
                        padding: 1em 0em 2em 0em;
                    }
                }

                &__detail {
                    display: block;
                    padding: 1em;

                    &--plats {
                        display: inline-flex;
                        width: 75%;
                        padding-left: 2em;
                        text-align: left;
                    }

                    &--prix {
                        display: inline-flex;
                        font-weight: lighter;
                        padding-left: 0.5em;
                        justify-content: right;
                    }
                }
            }

            &__Footer {
                display: block;
                padding: 2em;
                margin-bottom: 2em;

                img {
                    display: inline-block;
                    width: 3em;
                    padding-left: 18em;
                    padding-top: 2em;
                }

                a {
                    display: inline-block;
                    margin: auto;
                    padding-left: 0.5em;
                    text-align: center;
                    width: 11em;


                }
            }

            &__accueil {
                position: relative;
                top: 2em;
                left: 92%;
                transform: translate(-50%, -50%);
                margin-bottom: 1em;

                a {
                    display: block;
                    width: 6em;
                    height: 1.5em;
                    background-color: $main-background;
                    line-height: 1.5em;
                    font-size: 1.2em;
                    text-decoration: none;
                    color: #333;
                    border: 0.01em solid #333;
                    border-radius: 15px;
                    letter-spacing: 0.1em;
                    text-align: center;
                    position: relative;
                    transition: all .35s;
                    @include box-shadow;
                }

                &--bouton {
                    position: relative;
                    z-index: 2;
                    font-family: $font1;
                    color: $main-text;
                    @include text-shadow-3;
                }

                &--bouton:hover {
                    color: $main-background;
                }

                &--bouton:visited {
                    color: $main-background;
                }

                &--bouton:active {
                    color: $main-background;
                }

                &--bouton:after {
                    color: $main-background;
                }

                a:after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background: $main-text;
                    transition: all .35s;
                    border-radius: 15px;

                }

                a:hover {
                    color: $main-background;
                    border-radius: 15px;

                }

                a:hover:after {
                    width: 100%;
                    color: $main-background;
                }
            }
        }
    }
}