// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {

        // En tête du site
        .menu__site {
            &--logo {
                min-height: 3em;

                a {
                    font-size: 2em;
                }
            }
        }

        // page index des menus
        .menu__restaurant {
            width: 100%;
            margin: auto;
            justify-content: center;

            &__liste {
                text-align: center;
                width: auto;
                height: 35em;
                display: grid;
                grid-template-columns: repeat(auto-fill, 20em);
                grid-gap: 2em;
                grid-row-gap: 5em;
                justify-content: space-evenly;

                &__carte {
                    padding: 0em;
                    width: 100%;
                    height: 30em;


                    &--titre {
                        display: block;
                        margin-top: 5.5em;
                        text-decoration: none;
                        font-size: 2em;

                        img {
                            display: block;
                            margin: auto;
                            padding-bottom: 1em;
                            width: 2em;
                        }
                    }
                }
            }

            &__annonce {
                margin-top: 30em;
                max-width: 25%;
            }
        }

        // template de chaque page restaurant
        main {
            width: 90%;
            margin: auto;

            .menu {
                &__plats {
                    &__header {
                        display: flex;
                        justify-content: space-between;
                        margin: auto;

                        img {
                            display: flex;
                            min-width: 15em;
                            margin: 0.5em;
                        }

                        &--titre {
                            font-size: 1.5em;
                            text-align: center;
                        }
                    }

                    &__detail {
                        &__element {
                            display: block;
                            text-align: left;
                            margin-left: 5em;

                            &__nom {
                                display: inline-block;
                                font-size: 1.2em;
                                margin: 0.5em;
                                text-align: left;
                                width: 70%;
                            }

                            &__prix {
                                display: inline-block;
                                margin: 0em;
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }
}