body {
    margin: auto;
    .menu__site {
        background-color: $main-background;
        width: auto;

        &--logo {
            text-align: center;
            text-decoration: none;
            margin: auto;
            height: 1.5em;
            @include box-shadow;
            @include text-shadow-1;
            font-size: 4em;
            font-family: $font1;

            a {
                text-decoration: none;
                color: $main-text;
            }

            a:hover {
                text-decoration: none;
                color: $main-text;
            }

            a:visited {
                text-decoration: none;
                color: $main-text;
            }
        }
    }

    .menu {
        &__footer {
            background-color: $main-background;
            font-family: $font1;
            font-size: 2em;
            display: flex;
            justify-content: space-between;
            position: fixed;
            bottom: 0em;
            margin: auto;
            width: 100%;

            a {
                color: $main-text;
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            &--mention {
                color: $main-text;
                margin: 1.2em;
                font-size: 0.6em;
                font-weight: bolder;
                text-decoration: none;
                @include text-shadow-1;

                &:hover {
                    @include headshake;
                }
            }

            &--contact {
                @extend .menu__footer--mention;
            }
        }
    }
}