body {
    .logo {
        background-color: $main-background;
        display: block;

        &__site {
            text-align: center;
            text-decoration: none;
            margin: auto;
            height: 1.5em;
            @include box-shadow;
            @include text-shadow;
            font-size: 4.2em;
            font-family: $font1;

            a {
                text-decoration: none;
                color: $main-text;
            }

            a:hover {
                text-decoration: none;
                color: $main-text;
            }

            a:visited {
                text-decoration: none;
                color: $main-text;
            }
        }
    }

    .footer {
        background-color: $main-background;
        font-family: $font1;
        font-size: 2em;
        text-align: center;
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0em;
        margin: auto;
        width: 100%;

        a {
            color: $main-text;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        &__mention {
            color: $main-text;
            margin: 1.2em;
            font-size: 0.5em;
            font-weight: bolder;
            text-decoration: none;
            @include text-shadow;

            &:hover {
                @include headshake;
            }
        }

        &__contact {
            @extend .footer__mention;
        }
    }

}