// Habillage de l'index

// Bandeau
body {

    // Grid des menus
    .menu {
        &__restaurant {

            &__liste {

                &__carte {
                    @include box-shadow;

                    //    la note enchantée
                    &:nth-child(1) {
                        font-family: $font2;
                        background-color: $bgmenu1;

                        .menu__restaurant__liste__carte--titre {
                            color: $colormenu1;
                            margin-top: 2em;
                        }

                        .menu__restaurant__liste__carte--detail {
                            color: $colormenu1;
                        }
                    }

                    // le chic à la française
                    &:nth-child(2) {
                        font-family: $font3;
                        background-color: $bgmenu2;


                        .menu__restaurant__liste__carte--titre {
                            @include degrade($bg-degrade-menu2);
                        }

                        .menu__restaurant__liste__carte--detail {
                            color: $colormenu2a;
                        }
                    }

                    // le délice des papilles
                    &:nth-child(3) {
                        font-family: $font4;
                        background-color: $bgmenu3;

                        .menu__restaurant__liste__carte--titre {
                            @include degrade($bg-degrade-menu3);
                        }

                        .menu__restaurant__liste__carte--detail {
                            color: $colormenu3a;
                        }
                    }

                    // la palette du gout
                    &:nth-child(4) {
                        font-family: $font6;
                        background-color: $bgmenu4;

                        .menu__restaurant__liste__carte--titre {
                            @include degrade($bg-degrade-menu4);
                        }

                        .menu__restaurant__liste__carte--detail {
                            color: $colormenu4a;
                        }
                    }
                }
            }
        }
    }
}