
// Habillage de l'index


// Bandeau
body{
    text-decoration: none;
.menu {
    background-color: $main-background;

    &--logo {
        @include box-shadow;
        font-size: 6rem;
        font-family: $font1;
        padding-bottom: 2rem;

        a {
            text-decoration: none;
            color: $main-text;
        }

        a:hover {
            text-decoration: none;
            color: $main-text;
        }

        a:visited {
            text-decoration: none;
            color: $main-text;
        }
    }
}



// Grid des menus

.menu {

    &__restaurant {

        &__liste {

            &__carte {
                @include box-shadow;
            }

            //    la note enchantée
            &__carte:nth-child(1) {
                font-family: $font2;

                background-color: $bgmenu1;

                h2 {
                    position: relative;
                    top: -2.5em;
                    color: $colormenu1;
                    font-size: 2.5em;
                }

                p {
                    color: $colormenu1;
                    margin-top: -2em;
                    font-size: 2.5em;
                }
            }

            // le chic à la française
            &__carte:nth-child(2) {
                font-family: $font3;
                background-color: $bgmenu2;

                h2 {
                    background-image: linear-gradient(to right, $colormenu2a, $colormenu2b, $colormenu2c, );
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    font-size: 1.5em;
                }

                p {
                    background-image: linear-gradient(to right, $colormenu2a, $colormenu2b, $colormenu2c, );
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    font-size: 1.5em;
                    margin-top: 3em;
                }
            }

            // le délice des papilles
            &__carte:nth-child(3) {
                font-family: $font4;
                background-color: $bgmenu3;

                h2 {
                    font-size: 2em;
                    margin-top: 4em;
                    background-image: linear-gradient(to right, $colormenu3a, $colormenu3b, $colormenu3c);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }

                p {
                    font-size: 2em;
                    background-image: linear-gradient(to right, $colormenu3a, $colormenu3b, $colormenu3c);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }

            // la palette du gout
            &__carte:nth-child(4) {
                font-family: $font6;
                background-color: $bgmenu4;

                h2 {
                    background-image: linear-gradient(45deg, $colormenu4a, $colormenu4b, $colormenu4c);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    font-size: 2em;
                    margin-top: 4em;
                }

                p {
                    background-image: linear-gradient(45deg, $colormenu4a, $colormenu4b, $colormenu4c);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    font-size: 2em;
                    margin-top: 1.5em;
                }
            }

        }

        &__annonce {
            background-color: $main-background;
            @include text-shadow-1;
            @include box-shadow;

            &--prochainement {
                display: inline;
                color: $main-text;
            }

            &--loading span {
                width: 0.3em;
                height: 0.3em;
                background-color: $main-text;
                margin-top: 1em;
                border-radius: 50%;
                display: inline-block;
                animation-name: dots;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            &--loading span:nth-child(2) {
                animation-delay: 0.4s;
            }

            &--loading span:nth-child(3) {
                animation-delay: 0.8s;
            }
        }
    }

    &__footer {
        background-color: $main-background;
        @include box-shadow;
        text-decoration: none;

        :hover {
            text-decoration: none;
        }

        :visited {
            text-decoration: none;
        }

        &--mention {
            color: $main-text;
            text-decoration: none;
            @include text-shadow-1;
        }

        &--contact {
            color: $main-text;

        }
    }

}
}