// Page Mentions-légales

.mention {
    @include box-shadow;
    padding: 1em;
    margin: 1em 1em 4em 1em;
    font-family: $font1;

    &--titre {
        text-align: center;
        font-size: 3em;
        padding: 1em;
    }

    &__article {
        padding: 0em;

        &__titre {
            font-size: 2em;
            margin: 0em;
        }

        &__para {
            font-size: 1.5em;
        }
    }
}