.menus-list {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 15px;

    @include text-shadow-2;

    a {
        display: block;
        width: 10em;
        height: 15em;
        font-size: 2em;
        text-decoration: none;
        box-shadow: 0 0 10px #bbba;
        margin: 2em;

        &:hover {
            @include animate;

        }
    }
}



.menus-list__menu_note {
    @include box-shadow;
    background-color: $bgmenu1;
    width: auto;
    height: 15em;

    img {
        padding-top: 3em;
        margin: auto;
    }

    h2 {
        font-family: $font2;
        font-size: 1em;
        color: $colormenu1;
        text-align: center;

        &:visited {
            color: $colormenu1;
        }
    }

    p {
        font-family: $font5;
        font-size: 2em;
        padding-top: 0.5em;
        color: $colormenu1;
    }
}


.menus-list__menu_chic {
    @include box-shadow;
    background-color: $bgmenu2;
    width: auto;
    height: 15em;

    a {
        @include text-shadow-2;
    }

    h2 {
        font-family: $font3;
        font-size: 0.7em;
        background-image: linear-gradient(to right, $colormenu2a, $colormenu2b, $colormenu2c, );
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        padding-top: 7em;
        margin: auto;


    }

    p {
        font-family: $font7;
        padding-top: 1em;
        font-size: 1.5em;
        color: $colormenu2a;
    }
}



.menus-list__menu_delice {
    width: auto;
    height: 15em;
    @include box-shadow;
    background-color: $bgmenu3;

    a {
        @include text-shadow-2;
    }

    h2 {
        font-family: $font4;
        font-size: 1em;
        background-image: linear-gradient(to right, $colormenu3a, $colormenu3b, );
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        padding-top: 5em;
        margin: auto;
    }

    p {
        font-family: $font5;
        font-size: 2em;
        padding-top: 0.5em;
        color: $colormenu3b;
    }

}

.menus-list__menu_gout {
    width: auto;
    height: 15em;
    @include box-shadow;
    background-color: $bgmenu4;


    h2 {
        font-family: $font6;
        font-size: 1em;
        background-image: linear-gradient(to right, $colormenu4a, $colormenu4b, );
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        padding-top: 5em;
        margin: auto;
    }

    p {
        font-family: $font5;
        font-size: 2em;
        padding-top: 0.5em;
        color: $colormenu4b;
    }

}