.note {
    background-color: $bgmenu1;
    color: $colormenu1;
    font-family: $font2;

    img {
        width: 4em;
        padding-top: 2em;
    }

    h2:nth-child(2) {
        font-family: $font2;
        font-size: 3em;
        padding: 0em 0em 0.5em 0em;
    }

    .menu-card_bandeau {
        a {
            text-decoration: none;
            color: $colormenu1;
        }

        :hover {
            color: $colormenu1;
            text-decoration: none;
        }

        :visited {
            color: $colormenu1;
            text-decoration: none;
        }
    }

    .menu-card_detail_prix {
        font-weight: bolder;
    }
}

.chic {
    font-family: $font3;
    background-color: $bgmenu2;

    h2 {
        background-image: linear-gradient(to right, $colormenu2a, $colormenu2b, $colormenu2c, );
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        font-family: $font3;

// test du svg

        svg {
            display: block;
            font: 3em 'croissant';
            width: 100%;
            height: 1.5em;
            @include small{
                font-size: 7em;
            }
        }

        .text-copy {
            fill: none;
            stroke: white;
            stroke-dasharray: 6% 29%;
            stroke-width: 5px;
            stroke-dashoffset: 0%;
            animation: stroke-offset 5.5s infinite linear;
            animation-play-state: running;
        }

        .text-copy:nth-child(1) {
            stroke: $colormenu2a;
            animation-delay: -1;
        }

        .text-copy:nth-child(2) {
            stroke: $colormenu2b;
            animation-delay: -2s;
        }

        .text-copy:nth-child(3) {
            stroke: $colormenu2c;
            animation-delay: -3s;
        }

        .text-copy:nth-child(4) {
            stroke: $colormenu2a;
            animation-delay: -4s;
        }

        .text-copy:nth-child(5) {
            stroke: $colormenu2b;
            animation-delay: -5s;
        }
    }

    .orange,
    .violet,
    .bleu {
        font-size: 0.8em;
    }

    .orange h3 {
        color: $colormenu2a;

        :hover {
            color: $colormenu2a;
        }

        :visited {
            color: $colormenu2a;
        }
    }

    .violet h3 {
        color: $colormenu2b;

        :hover {
            color: $colormenu2b;
        }

        :visited {
            color: $colormenu2b;
        }
    }

    .bleu h3 {
        color: $colormenu2c;

        :hover {
            color: $colormenu2c;
        }

        :visited {
            color: $colormenu2c;
        }
    }

    .menu-card_detail_prix {
        font-weight: bolder;
    }

    .orange p {
        color: $colormenu2a;
    }

    .violet p {
        color: $colormenu2b;
    }

    .bleu p {
        color: $colormenu2c;
    }

    a {
        text-decoration: none;
    }

}

.delice {
    font-family: $font4;
    background-color: $bgmenu3;

    h2 {
        font-family: $font4;
        background-image: linear-gradient(to right, $colormenu3a, $colormenu3b);
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    h2:nth-child(1) {
        font-family: $font4;
        font-size: 4em;
        padding: 1em 0em 1em 0em;

        @include small {
            font-size: 3em;
        }
    }

    .bleuClaire,
    .BleuAzur,
    .bleuMarin {
        font-size: 1em;
    }

    .bleuClaire h3 {
        color: rgb(0, 162, 255);

        :hover {
            color: rgb(0, 162, 255);
        }

        :visited {
            color: rgb(0, 162, 255);
        }
    }

    .BleuAzur h3 {
        color: $colormenu3b;

        :hover {
            color: $colormenu3b;
        }

        :visited {
            color: $colormenu3b;
        }
    }

    .bleuMarin h3 {
        color: $colormenu3a;

        :hover {
            color: $colormenu3a;
        }

        :visited {
            color: $colormenu3a;
        }
    }

    .menu-card_detail_prix {
        font-weight: bolder;
    }

    .orange p {
        color: $colormenu2a;
    }

    .violet p {
        color: $colormenu2b;
    }

    .bleu p {
        color: $colormenu3b;
    }

    a {
        text-decoration: none;
    }

}

.gout {
    font-family: $font6;
    background-color: $bgmenu4;

    h2 {
        font-family: $font5;
        background-image: linear-gradient(to right, $colormenu4a, $colormenu4b);
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    h2:nth-child(1) {
        font-family: $font5;
        font-size: 5em;
        padding: 1em 0em 1em 0em;
    }

    h3 {
        font-size: 1em;
        color: black;

        :hover {
            color: black;
            @include animate;
        }

        :visited {
            color: black;
        }
    }



    .menu-card_detail_prix {
        font-weight: bolder;
    }

    .orange p {
        color: $colormenu2a;
    }

    .violet p {
        color: $colormenu2b;
    }

    .bleu p {
        color: $colormenu3b;
    }

    a {
        text-decoration: none;
    }

}

// Page Mentions-légales
h2 {
    font-size: 3em;
    font-family: $font7;
    text-align: center;
}

.mention--article {
    @include text-shadow-3;
    padding: 1em;
    font-family: $font7;

    &-soustitre {
        font-size: 1.5em;
        padding: 1em;
    }
}




// Page Mentions-légales
h2 {
    font-size: 3em;
    font-family: $font7;
    text-align: center;
}

.mention--article {
    @include text-shadow-3;
    padding: 1em;
    font-family: $font7;

    &-soustitre {
        font-size: 1.5em;
        padding: 1em;
    }
}


// Bouton Retour
.btn-accueil {
    i {
        display: block;
        width: 8em;
        color: $main-background;
    }

    display: flex;
    background: $main-background;
    color: $main-text;
    width: 10%;
    border: 0;
    border-radius: 15px;
    padding: 0.5em;
    margin: 2em 14em 1em 16em;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    @include text-shadow-1;

    @include medium {
        display: flex;
        justify-content: center;
        width: 45%;
        font-size: 1.3em;
        padding: 0.5em;
        margin: 1em 1em 2em 6em;
    }

    @include small {
        text-align: center;
        width: 70%;
        font-size: 1em;
        padding: 0.5em;
        margin: 1em 1em 2em 2.5em;
    }

    &:hover {
        color: $main-text;
    }

    &:visited {
        color: $main-text;
    }
}

// Bouton Home

.btn_home a {
    color: $main-text;
    text-decoration: none;

    .btn_home a:visited {
        color: $main-text;
        text-decoration: none;
    }

    .btn_home a:hover {
        color: $main-text;
        text-decoration: none;
    }
}