.restaurant__note {
    background-color: $bgmenu1;
    font-family: $font2;
    justify-content: space-around;
    color: $colormenu1;
    @include box-shadow;
    @include text-focus;

    h2 {
        font-size: 3em;

    }

    a {
        color: $colormenu1;
    }

    h3 {
        font-size: 2em;
        width: auto;


        &:hover {
            @include progress-bar;
        }
    }

    h4 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.3em;
        font-weight: 600;
    }

    p:nth-child(2n) {
        font-weight: 600;
    }
}


.restaurant__chic {
    background-color: $bgmenu2;
    font-family: $font3;
    justify-content: space-around;
    @include box-shadow;
    @include text-focus;

    h2 {
        font-size: 2.5em;
        background-image: linear-gradient(to right, $colormenu2a, $colormenu2b, $colormenu2c, );
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;

        &:hover {
            @include gradient;
        }
    }

    img {
        width: 10em;
    }

    h3 {
        font-size: 1.5em;


        &:hover {
            @include gradient;
        }
    }

    p {
        font-size: 1.2em;
    }

    #entree {

        color: $colormenu2a;


        a {
            color: $colormenu2a;
        }
    }

    #plat-principal {
        color: $colormenu2b;

        a {
            color: $colormenu2b;
        }
    }

    #dessert {
        color: $colormenu2c;
    }

    a {
        color: $colormenu2c;
    }

}

.restaurant__delice {
    background-color: $bgmenu3;
    font-family: $font4;
    justify-content: space-around;
    @include box-shadow;
    @include text-focus;

    h2 {
        font-size: 3em;
        background-image: linear-gradient(to right, $colormenu3a, $colormenu3b, $colormenu3c);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    h3 {
        font-size: 2em;
        width: auto;
        padding-bottom: 0.5em;

        &:hover {
            @include progress-bar;
        }

    }

    #entree {
        color: $colormenu3a;

        a {
            color: $colormenu3a;
        }
    }

    #plat-principal {
        color: $colormenu3b;

        a {
            color: $colormenu3b;
        }
    }

    #dessert {
        color: $colormenu3c;

        a {
            color: $colormenu3c;
        }
    }

    p {
        font-size: 1.5em;
        color: black;
    }
}


.restaurant__gout {
    background-color: $bgmenu4;
    font-family: $font4;
    justify-content: space-around;
    @include box-shadow;
    @include text-focus;

    h2 {
        font-size: 4em;
        background-image: linear-gradient(45deg, $colormenu4a, $colormenu4b, $colormenu4c);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    img {
        width: 10em;
    }

    a {
        color: black;
    }

    h3 {
        font-size: 2em;
        width: auto;
        margin-top: 0.8em;

        &:hover {
            background-image: linear-gradient(45deg, $colormenu4a, $colormenu4b, $colormenu4c);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent;
            @include progress-bar;
        }
    }

    p {
        font-size: 1.3em;
        color: black;
    }
}