.menu--note {
    background-color: $bgmenu1;
    font-family: $font2;
    justify-content: space-around;
    color: $colormenu1;
    @include box-shadow;
    @include text-focus;

    h2 {
        font-size: 4em;

    }

    img {
        width: 15em;
    }

    h3 {
        font-size: 2em;
        width: auto;
    }

    h4 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.3em;
        font-weight: 600;
    }

    p:nth-child(2n) {
        font-weight: 600;
    }
}


.menu--chic {
    background-color: $bgmenu2;
    font-family: $font3;
    justify-content: space-around;
    @include box-shadow;
    @include text-focus;

    h2 {
        font-size: 4em;
        background-image: linear-gradient(to right, $colormenu2a, $colormenu2b, $colormenu2c, );
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    img {
        width: 10em;
    }

    h3 {
        font-size: 2em;
        width: auto;
        flex-wrap: wrap;
    }

    .plat--entree {
        color: $colormenu2a;
    }

    .plat--principal {
        color: $colormenu2b;
    }

    .plat--dessert {
        color: $colormenu2c;
    }

    p {
        font-size: 1.2em;
    }

}

.menu--delice {
    background-color: $bgmenu3;
    font-family: $font4;
    justify-content: space-around;
    @include box-shadow;
    @include text-focus;

    h2 {
        font-size: 4em;
        background-image: linear-gradient(to right, $colormenu3a, $colormenu3b, $colormenu3c);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    img {
        width: 10em;
    }

    h3 {
        font-size: 2em;
        width: auto;
    }

    .plat--entree {
        color: $colormenu3a;
    }

    .plat--principal {
        color: $colormenu3b;
    }

    .plat--dessert {
        color: $colormenu3c;
    }

    p {
        color: black;
        font-size: 1.5em;
    }
}


.menu--gout {
    background-color: $bgmenu4;
    font-family: $font4;
    justify-content: space-around;
    @include box-shadow;
    @include text-focus;

    h2 {
        font-size: 4em;
        background-image: linear-gradient(45deg, $colormenu4a, $colormenu4b, $colormenu4c);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    img {
        width: 10em;
    }

    h3 {
        font-size: 2em;
        width: auto;
    }

    p {
        font-size: 1.3em;
    }
}