// design de chaque restaurant largeur smartphone

// Style menu la note enchantée

.menu--note {
    background-color: $bgmenu1;
    font-family: $font2;
    justify-content: space-around;
    color: $colormenu1;
    @include box-shadow;
    @include text-focus;

}

// Style menu le chic à la française
.menu--chic {
    background-color: $bgmenu2;
    font-family: $font3;
    justify-content: space-around;
    @include box-shadow;
    @include text-focus;

    .menu__header--titre {
        @include degrade($bg-degrade-menu2);
    }

    .plats--entree {
        color: $colormenu2a;
    }

    .plats--principal {
        color: $colormenu2b;
    }

    .plats--dessert {
        color: $colormenu2c;
    }

}

// Style menu le délice des papilles
.menu--delice {
    background-color: $bgmenu3;
    font-family: $font4;
    justify-content: space-around;
    @include box-shadow;
    @include text-focus;

    .menu__header--titre {
        @include degrade($bg-degrade-menu3);

    }

    .menu__plats__detail__element {
        color: black;
    }

    .plats--entree {
        color: $colormenu3a;
    }

    .plats--principal {
        color: $colormenu3b;
    }

    .plats--dessert {
        color: $colormenu3c;
    }
}

// Style menu la palette des goûts
.menu--gout {
    background-color: $bgmenu4;
    font-family: $font4;
    justify-content: space-around;
    @include box-shadow;
    @include text-focus;

    .menu__header--titre {
        @include degrade($bg-degrade-menu4);
    }
}