

// aside
@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(0.7) translate(0.5em);
    }
}

// footer
@keyframes headshake {
    25% {
        // entièrement à droite
        transform: translateX($shake-intensity);
    }

    75% {
        // entièrement à gauche
        transform: translateX($shake-intensity * -2);
    }
}