// Feuille de style pour les animations



// Zoom cartes de l'index




// points
@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(0.7) translate(0.5em);
    }
}

// footer headshake
@keyframes headshake {
    25% {

        transform: translateX($shake-intensity);
    }

    75% {

        transform: translateX($shake-intensity * -4);
    }
}

// Underline

@keyframes progress-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

// Focus chargement pages

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

// Etirement

@keyframes elastic {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    30% {
        -webkit-transform: scaleX(1.25) scaleY(0.75);
        transform: scaleX(1.25) scaleY(0.75);
    }

    40% {
        -webkit-transform: scaleX(0.75) scaleY(1.25);
        transform: scaleX(0.75) scaleY(1.25);
    }

    60% {
        -webkit-transform: scaleX(1.15) scaleY(0.85);
        transform: scaleX(1.15) scaleY(0.85);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


// text-Gradient
@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}