// aside
@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(0.7) translate(0.5em);
    }
}

// footer
@keyframes headshake {
    25% {
        // entièrement à droite
        transform: translateX($shake-intensity);
    }

    75% {
        // entièrement à gauche
        transform: translateX($shake-intensity * -2);
    }
}

@keyframes zoom-hover {
    25% {
        transform: scale(1);
        transition-property: transform;
        opacity: 100%;
    }

    75% {
        transform: scale(1.15);
        transition-property: transform;
        transition-duration: 800ms;
        opacity: 60%;
    }

    100% {
        transform: scale(1);
        transition-property: transform;
        opacity: 100%;
    }
}


@-webkit-keyframes zoom-in-out {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoom-in-out {
    0% {
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
}