// OMBRAGE

@mixin text-shadow {
    text-shadow: 0.1em 0.1em 0.2em black;
}


@mixin box-shadow {
    box-shadow: 0.1em 0.1em 1em rgba(73, 73, 73, 0.425);
}


// TREMBLEMENT

@mixin headshake {
    animation: headshake 100ms cubic-bezier(.4, .1, .6, .9);
    animation-iteration-count: 4;
}


// Underline

@mixin progress-bar {
    border-bottom: solid 0.07em;
    animation: couleur, progress-bar 1000ms;

}

// Focus chargement pages

@mixin text-focus {
    animation-name: text-focus-in;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}


// text gradient

@mixin degrade($bg-degrade){
    background: $bg-degrade;
    -webkit-background-clip: text;
    color: transparent;
  }