@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Croissant+One&family=Dancing+Script:wght@700&family=Devonshire&family=Kaushan+Script&family=Source+Serif+Pro:wght@600&family=Ultra&display=swap');

$font1:'Ultra',
serif;
$font2: 'Devonshire',
cursive;
$font3: 'Croissant One',
cursive;
$font4: 'Dancing Script',
cursive;
$font5: 'Caveat',
cursive;
$font6: 'Kaushan Script',
cursive;
$font7: 'Source Serif Pro',
serif;




// couleurs
$bodybackground: white;

$main-background:#589a86;
$main-text:#FBC02D;


// menus
$bgmenu1: #FCDFDB;
$colormenu1: #3c1218;

$bgmenu2:#FFF5FE;
$colormenu2a:#c67412;
$colormenu2b:#a56799;
$colormenu2c: #6e4ccc;

$bgmenu3 :#F3F3F3;
$colormenu3a: #0a35e0;
$colormenu3b:#0889fb;


$bgmenu4: white;
$colormenu4a:#558B2F;
$colormenu4b:#8BC34A;




// Prochainement
$anim-point:100ms;
$anim-delay:$anim-point / 5;
$size:1em;

// couleurs

$main-background: #579c87;
$main-text: #fdcb46;


// footer
$shake-intensity: 2%;
